<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Nareena</title>
</head>
<body>
    <!-- about me section -->
    <h1>Nareena Alzaben</h1>
    <h2>I am double majoring in SCM and IS</h2>
    <h2>My first language is Arabic!</h2>
    <p>As you see, my name is Nareena Hashem Safah Alzaben. I was <em>born</em> in the UAE, but my <em>family is from</em> Jordan. Jordan the <strong>country</strong>, not the basketball player.</p>
    <p>I have had <em>two</em> internships. One at <strong>Lifestraw</strong> and one at <strong>Target</strong>. When I graduate, I will work at <strong>Nestle</strong>. All the positions are for <em>Supply Chain Management.</em></p>

    <p>My jobs ranked from favorite to least favorite:</p>
    <ol>
        <li>LifeStraw</li>
        <li>Target</li>
    </ol>

    <p>Some of my hobbies include:</p>
    <ul>
        <li>Crochet</li>
        <li>Painting</li>
        <li>Ceramics</li>
        <li>Reading</li>
        <li>Nail design</li>
        <li>Baking</li>
    </ul>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall 23</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 23</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 23</td>
        </tr>
    </table>

    <!-- going to different links -->
    <p>Here is a link to <a href="/hello"> hello!</a></p>

    <p>I love shopping, so I love <a href="https://www.amazon.com/" target="_blank"> Amazon!</a></p>
    <p>I also love school, so here is <a href="https://umd.instructure.com/"> ELMS!</a></p>

    <!-- adding the smith logo as a photo -->
    <p>Here is the smith logo:</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
</body>
</html>