{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

<!-- added section where it says under construction -->
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon.
                Please check back soon or email Nareena at <a href="nalzaben@terpmail.umd.edu">mzheng17@terpmail.umd.edu</a> if you wish to be placed on the waiting list.
            </div>
        </div>
    </div>
{% endblock %}

{% block page_head %}
    Training
{% endblock %}